<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../Style/home.css">
    <link rel="stylesheet" href="../Style/global.css">
</head>

<body class="home-body">
    <aside class="aside-navbar">
        <img src="../../assets/logo.svg" alt="logo">
        <nav>
            <ul class="list-navbar">
                <li><img src="../../assets/Home.svg" alt="home image"> Home</li>
                <li><img src="../../assets/Product.svg" alt="Product image">Product</li>
                <li><img src="../../assets/Cart.svg" alt="Cart image">Order</li>
                <li><img src="../../assets/Chat.svg" alt="Chat image">Chat</li>
                <li><img src="../../assets/Statistic.svg" alt="Statistic image">Statistic</li>
                <li><img src="../../assets/Delivery.svg" alt="Delivery image">Delivery</li>
                <li><img src="../../assets/Setting.svg" alt="Setting image">Setting</li>
            </ul>
            <button class="navbar-signout">Signout</button>
        </nav>
    </aside>
    <div class="container">
        <footer class="footer-container">
            <input type="text">
            <input type="date" name="" id="">
            <img src="" alt="sino">
            <img src="" alt="account">
            <input type="radio" name="" id="">
        </footer>
        <div class="content">
            <div class="meio">
                <div class="top-meio">
                    <div class="banner-content">
                        <img src="../../assets/banner-white-home.svg" alt="">
                        <h2>Unlock your true potential shop</h2>
                        <p>Fill all your profile shop now and enjoy all feature to
                            improve product selling</p>
                        <button>Complete my profile</button>
                    </div>
                </div>
                <div class="button-meio"></div>
            </div>
            <aside class="aside-right">
                <section class="top-aside-right"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia quo dolor dolores. Cumque amet iste accusantium, consequuntur ad esse praesentium, nam ipsum hic, quo totam dolorem cupiditate dolorum quis!</p></section>
                <section class="botton-aside-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia, deleniti harum accusantium dicta similique ipsa ullam explicabo quaerat quae cumque amet voluptatum maxime totam. Nam, ullam libero? Excepturi, explicabo?</section>
            </aside>
        </div>
    </div>
</body>

</html>