<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godshop</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="../Style/global.css">
    <link rel="stylesheet" type="text/css" href="../Style/login.css">
</head>

<body>
    <section class="center">
        <div>
            <img src="../../assets/logoWhite.svg" alt="Logo branco da Godshop">
            <p>Start for free and<span> unlock your <br> True Business Potential</span> just in<br> one click.</p>
        </div>
        <img src="../../assets/homeBackground.svg" alt="">
    </section>
    <main class="center">
        <div>
            <img src="../../assets/logo.svg" alt="Logo da Gudshop">
            <div class="content">
                <h2>Create new account.</h2>
                <div>
                    <p>Already have an account? </p><a href="/"> Log In</a>
                </div>
            </div>
        </div>
        <form action="#">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Input your email here">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Type your password here">

            <button type="submit">Register</button>
        </form>
        <br>
        <span>Or Register With</span>
        <button class="with"><img src="../../assets/google.svg" alt=""> Register With Google</button>
        <button class="with"><img src="../../assets/apple.svg" alt=""> Register With Apple</button>

    </main>
</body>

</html>