.home-body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100%;
  grid-template-areas: "aside container";
}
.aside-navbar {
  grid-area: aside;
}
.aside-navbar li:nth-child(8) {
  margin-top: 43.9rem;
  margin-bottom: 3rem;
}
.aside-navbar > img {
  height: 4.8rem;
  width: 16.2rem;
  margin: 8rem 4.6rem;
}

.aside-navbar ul li img {
  fill: var(--Light-Neutral-Black-40);
}
.aside-navbar ul li {
  width: 25.5rem;
  height: 5.6rem;
  padding: 2.3rem;
  gap: 2.4rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;

  color: var(--Light-Neutral-Black-40);
}
.container {
  grid-area: container;
  display: flex;
  flex-direction: column;
  background-color: var(--Light-Tint-Blue-20);
}
.footer-container {
  grid-area: footer;
  height: 7.7rem;
  width: 100%;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
}
.content {
  display: grid;
  height: 81.4rem;
  grid-template-columns: 72% 28%;
  grid-template-rows: 100%;
  grid-template-areas: "content aside-right";
}
.meio {
  grid-area: content;
}
.aside-right {
  grid-area: aside-right;
}
.card-aside-right {
  height: 40.2rem;
  background-color: white;
  border-radius: 2.4rem;
  padding: 2rem;
  margin-bottom: 3rem;
}
.card-aside-right.top {
}
.meio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: 
  "banner banner banner"
  "cards grafic grafic"
  "cards grafic grafic"
  "cards grafic grafic";
  margin: 0 3rem 3rem 3rem;
}
.banner {
  grid-area:banner;
  background-image: url(../../assets/BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.banner-content {
  display: flex;
  align-items: center;
  background-image: url(../../assets/Line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.banner-text {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
}
.cards{
  grid-area: cards;
}
.grafic{
  grid-area:grafic;
}
